
.App-logo {

  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body, html{
  width: 100%;
}
body {
  overflow-x: hi;
  background-color: white;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0;
  padding: 0;
}
/* Navbar styles */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none; /* Navbar background color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the navbar */
}

/* Left-justified brand name */
.navbar-brand {
  text-decoration: none;
  font-size: 24px; 
  font-weight: bold; 
  margin-left: 90%;
  color: #18A1FE;
}

.navbar-left{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

/* Left-justified brand name */
.navbar-left-logo {
  justify-content: center!important;
  text-decoration: none; /* Remove underlines from the brand name */
  font-weight: bold; /* Optionally make the brand name bold */
}
.navbar-left-brand{
  margin: auto;
  text-decoration: none; /* Remove underlines from the brand name */
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Optionally make the brand name bold */
  padding-left: 10%;
  color: #18A1FE;
}

/* Right-justified buttons */
.navbar-right {
  margin-right:10%;
  display: flex;
  gap: 10px; /* Spacing between buttons */
}

/* Style for the buttons */
.navbar-button {
  color: gray; /* Button text color */
  border: 2px solid lightgray; /* Remove button borders */
  padding: 10px 16px; /* Button padding */
  border-radius: 5px; /* Rounded corners for buttons */
  cursor: pointer; /* Shofw a pointer cursor on hover */
  background: white;
}

/* Style for button hover effect */
.navbar-button:hover {
  background-color: lightgray; /* Darker background color on hover */
}

.intro{
  margin-top:100px;
  text-align: center;

}
.professional-blue{
  color: #18A1FE;
}
.professional-blue-dot{
  color: #18A1FE;

  font-size:70px;
}

.intro-subtext{
  color: gray;
  font-size: 18px;
}

.try-button{

  margin-top:50px;
  padding-top: none;
  width: 250px;
  height: 40px;
  box-shadow: 0px 0 100px  -10px #18A1FE;
  border-radius: 5px;
  border: 2px solid #18A1FE;
}
.intro-hr{
  width: 100px;
  height: 2px;
  margin-top:50px;
  background-color: #18A1FE;
  border: none;
  box-shadow: 0 0 10px #18A1FE;
}



.Try-me{
  text-align: center;
}
h1{
  line-height:0.5;
  font-size: 50px;

}

.Quote-Image-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:50px;
}
.quote{
  margin-right: 5%;
  color: gray;
  width: 700px;
  height: 300px;
  background-color: #FAFAFA;
  border-radius: 25px;
  font-size: 20px;
  line-height: 1.7;
  
}
.words{
  padding-top: 25px;
  margin-left: 66px;
  margin-right: 30px;
}

.author{
  margin-left: 50px;
}
.footer {
  font-size: 15px;
  justify-content: center!important;
  display: flex;
  padding: 20px;
  width: 100%;

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactCrop__image {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.blog-giant-carousel1{
  background:transparent;
  height:250px;
  width:700px;
  background:transparent;
  border: 3px rosybrown;
  display: center;
  align-items:center;
  margin-bottom:20px;

  
  .react-multiple-carousel__arrow--left{
    left:calc(0%);
    bottom:calc(35%)
  }
  .react-multiple-carousel__arrow--right{
    right:calc(0%);
    bottom: calc(35%)
  }
}
.react-multiple-carousel__arrow{
  filter: invert(1)
}
.react-multiple-carousel__arrow--left{
  background: transparent;
}
.react-multiple-carousel__arrow--right{
  background: transparent;
}

.ProFresh{
  color: #18A1FE
}
.my-cropped-image{
  justify-content: center;
  margin-top:100px;
  width:50px;
}



.number{
  background: #18A1FE;
  color: gray;
  border-radius: 5px;
  padding: 8px;
  margin: 15px;
}

.tutorial{
  margin-top: 5%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}
.tutorial h2{
  margin-bottom: 65px;
}

.instruction-set{
  border-left: 3px solid gray;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.instruction-set p{
  color: gray;
  font-size: 18px;
  vertical-align: middle!important;
  justify-content: center!important;
}

.instruction{
  vertical-align: middle;
}

.instruction-and-demo{
  display:flex;
  flex-direction: row;
}